[2018-02-27 20:16] dhaberst opened #1 "In the usage example WORD_COUNT_KEY and WORD_KEY constant values are wrong."
In the usage code you have:
[code]
Instead it should be:
[code]

Though that this would save some headache for future users 😄 .

[2018-03-05 07:08] chrisrzhou commented on #1
Thanks @dhaberst! Fixed it, and sorry for the inconvenience!

[2018-03-05 07:08] #1 closed

[2019-01-03 14:23] pitops opened #4 "Tooltip bug when page height bigger than viewport"
I am using the default example provided but I had used it as a component in dashboard. However I discovered that the tooltip was not showing and from some quick debugging it seems the 'top' property was calculated wrong hence was overflowing.

To reproduce you need to put elements on top this component so that its pushed down and its not shown in viewport

From the source code

I dont see this fun

[2019-01-05 08:51] pitops commented on #4
If anyone cares seem my last commit on my fork for the fix

[code]

[2019-01-22 16:39] webisteme opened #5 "Wordcloud implodes with high numbers of words"
The upper bound of fontScale's range is always 100, regardless of how many words are displayed or the size of the SVG canvas. This leads to intermittent collisions between words at high volumes (> 150). As a solution, I suggest setting the upper bound dynamically based on the ratio between the number of words and the SVG area size. This should allow the package to render large numbers of words wit

[2019-01-22 19:51] chrisrzhou commented on #5
@webisteme, awesome please feel free to submit a PR!  I plan to revisit and modernize this component in March when I find some time.

Thanks for debugging it and finding a fix for it!

[2019-03-05 12:17] zerobell-lee opened #8 "How can I set orientation angles?"
I'm researching WordCloud Generator, but I have no idea how I can set orientation angles. I guessed which properties available by opening WordCloud.js of WordCloud Generator. But there weren't enough explanations of properties. I hope I see which properties available when I handle with react-wordcloud, not only existence of properties, but also which types should be accepted.

I tried [-60, 60] fo

[2019-03-05 18:21] chrisrzhou commented on #8
Hi, the Wordcloud generator is not actually using the current `react-wordcloud` code.  I just updated this to `v1.0.0`.  I will be updating the wordcloud generator example soon and sorry for the confusion!

For now, with v1.0.0, you should be able to set orientations in the `options` prop.  E.g.

[code]

Here's an example on how to configure the wordcloud: https://github.com/chrisrzhou/react-wordc

[2019-03-06 09:11] warlock opened #10 "react-wordcloud native?"
In the future, do you have a version for reaccion-native (d3-svg)?

[2019-03-06 09:55] zerobell-lee commented on #8
Thank you! It still doesn't work and I think maybe this bug occurred from that I used multiple wordcloud components in one page. But now I know how to set the options of ReactWordcloud. I'll test it with different configuration. Thank you for supporting!

[2019-03-06 17:41] zerobell-lee commented on #8
Oh, I don't know why but when I try again home, it works! Thank you!

[2019-03-06 17:41] #8 closed

[2019-03-06 18:29] zerobell-lee opened #11 "re-rendering and tooltip bug?"
I'm using react-wordcloud with select tag. When I choose an item from dropdown menu, the page shows a wordcloud that matched with that item. In this case, words get re-rendered but tooltips doesn't. Tooltips remain as of the first item.

When I change window size, so resizing occurs, tooltips get re-rendered also. Only when I replace wordcloud, this bug occurs.

Thank you for your great job, I'm v

[2019-03-07 07:52] chrisrzhou commented on #11
Hi @zerobell-lee, thanks for testing it out.  Do you mind reproducing the bug in a codesandbox? You can install npm modules with https://codesandbox.io and set it up.  Thanks!

[2019-03-07 07:53] chrisrzhou commented on #11
Without too much context, I'm guessing the re-rendering maybe due to the fact that `words` array is changing.  If you pass a new array, or use something like `data.map(...)` to set the `words` prop, it will cause the component to re-render because props have changed.  This is just my guess on your bug, but let me know if you can reproduce it!

[2019-03-07 09:15] zerobell-lee commented on #11
https://codesandbox.io/s/315507jno6?fontsize=14

I made an example code. Tooltip doesn't change. I can also see long words pop out of the canvas. Thank you!

[2019-03-08 18:35] chrisrzhou commented on #11
Ah that seems like a bug, let me dig into it next week or if you are able to find the fix, a PR would be helpful :)

[2019-03-10 18:21] zerobell-lee commented on #11
I'd really like to do PR but I haven't learned ts and react hooks. Sorry for making you busy :( At the moment, I'm using key props to force resetting wordcloud. I heard it's a temporary solution but I don't care since it works.

[2019-03-11 04:49] chrisrzhou commented on #10
Hi @warlock, don't plan to build one for react native.  Is this as simple as swapping `d3` for `d3-svg`?

[2019-03-12 16:08] warlock commented on #10
Probably. I Investigate when I return from a trip. I inform you soon.

[2019-03-12 16:08] #10 closed

[2019-03-14 08:34] chrisrzhou commented on #4
This should be solved with `v1` release using `tippy.js`.  Thanks @pitops for debugging the old version!  Let me know if they work out for you!

[2019-03-14 08:34] #4 closed

[2019-03-14 21:40] chrisrzhou commented on #11
Hi @zerobell-lee, 1.0.3 solves the tooltip bug (you can reinstall the dependency in your codesandbox.io).

I finally understood why some words occasionally fly out.  This is an issue related to `d3-cloud` omitting words that don't fit the `svg` container (https://github.com/jasondavies/d3-cloud/issues/36)

A couple of solutions that people have explored and I've tested them:
- Recursively decrease

[2019-03-16 11:11] chrisrzhou commented on #5
Should be fixed to some extent for now.

[2019-03-16 11:11] #5 closed

[2019-03-17 06:25] chrisrzhou commented on #11
Hey @zerobell-lee, your specific example is fixed with `v1.0.5`: ([codesandbox](https://q9046xw9jw.codesandbox.io/))

I spent the past 2 days digging into the issue.  It's not easy to come up with a complete solution but I was able to have `react-wordcloud` attempt to rescale font-sizes recursively to fix the problem (until a max attempt is reached, and a warning message will be thrown).  The core

[2019-03-17 06:25] #11 closed

[2019-04-08 00:39] swrj opened #13 "Tooltip text"
Is there any way of changing the text on the tooltip when you hover over it? I ideally want to use another field in data as the text.

[2019-04-08 04:51] chrisrzhou commented on #13
Hi @swrj, you can do this by setting the `getWordTooltip` props (see documentation here: https://react-wordcloud.netlify.com/#/usage/callbacks)

Let me know if this works!

[2019-04-09 05:35] swrj commented on #13
@chrisrzhou no idea how I missed that, thanks!

[2019-04-09 05:35] #13 closed

[2019-04-09 15:04] zerobell-lee commented on #11
Thank you for your supporting, I updated wordcloud to the latest version :) It works good.

[2019-05-16 11:28] beibm opened #14 "Not support Chinese?"
It seems that the online demo not support Chinese！

[2019-05-16 17:28] chrisrzhou commented on #14
Hi @beibm, I am using `docz` and `docz-default-theme` for the documentation.  Would be happy to accept a PR if multi-language support can be implemented in the `docz` layer.  If you have any ideas let me know!

[2019-05-22 10:15] dandv opened #15 "Compatibility with Preact?"
I've been trying to run the example from the README with Preact, but I'm running into [errors](https://github.com/developit/preact/issues/1247#issuecomment-494742024). Any ideas?

[2019-05-22 10:26] dandv opened #16 "Reduce bundle size?"
Not sure how practical this is given the dependencies but...

https://bundlephobia.com/result?p=react-wordcloud@1.0.5

[2019-05-22 17:03] chrisrzhou commented on #16
Hi @dandv, I can look into reducing this in 1.0.6 sometime this week, while polishing up some of the Typescript errors. `react-wordcloud` uses `d3` very lightly, so it's possible to drop that dependency entirely.

[2019-05-22 17:04] chrisrzhou commented on #14
Closing issue and happy for PRs that can solve this at the `docz` level.  The documentation is handled by `docz` using `mdx` file format.

[2019-05-22 17:04] #14 closed

[2019-05-22 17:07] chrisrzhou commented on #15
Hey @dandv, not too familiar with compatibility with Preact, but saw that you opened an issue on their side.  If you find the underlying issue, please let me know here, or submit a PR.

In the meantime, let me know if there're any other issues you see with the component and happy to address them in one version fix.

Thanks for checking this out!

[2019-06-08 07:55] chrisrzhou commented on #15
Closing the issue since it seems related with preact in the other open issue.  Please feel free to reopen the issue again in the future!

[2019-06-08 07:55] #15 closed

[2019-06-08 20:25] chrisrzhou commented on #16
Hi @dandv, I broke out the `d3` dependencies in v1.0.6, and the package size is [roughly halved](https://bundlephobia.com/scan-results?packages=@types/d3-array@2.0.0,@types/d3-cloud@1.2.2,@types/d3-scale@2.1.1,@types/d3-scale-chromatic@1.3.1,@types/d3-selection@1.4.1,@types/d3-transition@1.1.4,@types/seedrandom@2.4.28,d3-array@2.2.0,d3-cloud@1.2.5,d3-scale@3.0.0,d3-scale-chromatic@1.3.3,d3-selecti

[2019-06-08 20:25] #16 closed

[2019-06-18 10:49] kraiyons opened #19 "Unsafe eval issue"
Hello, i am experiencing this issue when I use `react-wordcloud`. I'm afraid I can't use the meta tag work around for other reasons, is there any other solution for this?

![image](https://user-images.githubusercontent.com/14866297/59677941-b7540100-91fd-11e9-9b7a-688e88850afd.png)

[2019-07-10 10:01] shantanug-cuelogic opened #20 "Random Sizes of word"
Hello !
I am integrating this library and my use case is  to show the words bigger which has more value. It is working fine for some cases but sometimes the the fontsize is more for words having less value then other. Is this what is expected or i need to configure something in options.

[2019-08-30 13:30] plemarquand commented on #19
This bit me as well. Tracked back to https://github.com/davidbau/seedrandom/issues/64

[2019-09-08 02:36] sidecus opened #22 "Crash with "enter.transition is not a function""
Seems like related to [this issue](https://github.com/d3/d3-selection/issues/185).

[2019-09-09 06:08] chrisrzhou commented on #22
Hi @sidecus, I read through the issue link you provided and applied the `resolutions` in `package.json` fix.  I'm not seeing the issue on my side, so do you mind helping me check on your side by pulling the latest code in `master` branch?  Thanks!

[2019-09-09 06:10] chrisrzhou commented on #20
Hi @shantanug-cuelogic, can you link me to a specific Codesandbox instance?  I need some steps to reproduce.

There are scenarios when the rendering is not ideal (e.g. words looking small even though the value is large, as you have mentioned).  This happens when the word itself is very long.  The `d3.cloud` layout takes into consideration both the size and value when deciding how to render the siz

[2019-09-09 06:12] chrisrzhou commented on #19
@plemarquand thanks for tracking the issue to the source issue.  Seems like the PR is active there.  Once `seedrandom` is fixed, I'll merge the changes on my side and release `1.1.0` with the changes.  I have pushed a few code improvements to `master` and will wait for this fix before releasing `1.1.0`.

[2019-09-09 11:41] Abhinav85 opened #23 "Ability to modify the SVG properties of the element on callbacks"
Hi. Thanks for the awesome library. I wanted to change the font-size of a particular element onWordMouseOver and on WordMouseClick. I tried changing the source code, but I am not so good in that. I would love to raise a PR if you could just help me out by how it is done and provide some heads-up if possible.

Thanks

[2019-09-09 21:47] sidecus commented on #22
@chrisrzhou - Thank you for the quick response! Unfortunately it didn't solve the issue. I'll try to see whether I can have a standalone repro of this.

[2019-09-10 06:44] chrisrzhou commented on #23
Hi @Abhinav85, thanks for checking out the library!  I exposed `event` as a second parameter to `onWordClick`, `onWordMouseOut` and `onWordMouseOver` callbacks.  I updated the docs (https://react-wordcloud.netlify.com/usage/callbacks#mouse-events) to show a rough example no how you can do this.  Since you now have access to `event.target` `text` element, you can do whatever you want from here.

I

[2019-09-12 05:18] chrisrzhou commented on #20
Closing the issue for now since this is the underlying behavior of `d3.cloud` and there is no easy way but to customize `fontSizes` prop.

[2019-09-12 05:18] #20 closed

[2019-09-12 05:19] chrisrzhou commented on #23
v1.1.0 is published.  Updated the docs and README with examples on how to do this.  Thanks for the suggestion!

[2019-09-12 05:19] #23 closed

[2019-09-16 07:45] sidecus commented on #22
I was not able to isolate this. Anyways I now do believe it's an issue with webpack - it doesn't execute the d3 transition prototype extension code no matter whether "import 'd3-transition'" is there or not.
I didn't find a good workaround, unfortunately. Maybe providing the option to bypass transition will at least enable me to use this cool lib.

Thank you for the help though. I think we can clo

[2019-09-16 07:45] #22 closed

[2019-09-17 11:37] nabidam opened #24 "prevent reload"
Hi, I set a handler onWordClick that updates the component's state, then whenever state is updated, word cloud reloads, how can I prevent its reload?
and also every state updating not related to this word cloud causes it re-rendering!

[2019-09-19 00:06] chrisrzhou commented on #24
Hi @nabidam, one of the reason is `callbacks={{onWordClick}}` creates an object every time your parent component re-renders.  This causes props to change and the underlying React component to re-render.  While `react-wordcloud` can try to take care of this internally, this may not always be the right assumption in various use-cases too.

You can try to create `callbacks` prop value outside of the

[2019-09-28 05:49] chrisrzhou commented on #24
Closing because not a issue and there should be a workaround.

[2019-09-28 05:49] #24 closed

[2019-09-28 06:01] chrisrzhou commented on #19
fixed in `v1.1.1` after `seedrandom@3.0.5` is shipped!

[2019-09-28 06:01] #19 closed

[2019-11-11 23:56] camlough opened #25 "Wordcloud fully re-renders every time props change"
Hello! Great job on this library. Very straight-forward to use, yet very powerful.

I have been trying to use it for a real-time word cloud, where words will appear and disappear as i receive updated data from a websocket connection. My problem is the wordcloud does a full re-render every time the `words` prop (or any prop for that matter) is updated, which causes the whole thing to re-animate (se

[2019-11-27 22:09] emorling opened #27 "Exaggerating the results"
What settings do you recommend for exaggerating/contrasting the results, so that there is more of a "clear winner"? Even if there are small variations between the top 3 in terms of count. Obviously this could be achieved by maninpualting values, but I want to keep the values for the sake of tooltip.

This image could help to illustrate what is desired to accomplish:
<img width="912" alt="Skärmavb

[2019-11-28 08:41] Abhinav85 opened #28 "Seeded Randomisation"
Hi Chris

It's an awesome library, and as always you've been a wonderful developer. I was wondering, would it be possible to have seeded randomisation.

My use case is that I have multiple word clouds in different tabs, and as each tab reloads, the rendering of the word cloud has changed from what it was before on the tab because of seeded randomisations. Please correct me if I'm wrong here.

Let

[2019-11-28 08:45] #28 closed

[2019-11-28 10:06] emorling commented on #25
Subscribe :) This merge would be really useful

[2019-12-17 02:38] chrisrzhou commented on #27
This should be customizable and a good suggestion! I'll look into exposing this through in a future update.  Let me know when is an ideal time you might need this feature by.

[2019-12-17 02:39] chrisrzhou commented on #25
I'll work on integrating @camlough's PR this weekend.

[2020-01-03 16:46] sweetraare opened #29 "Words overlapping"
I'm trying to make a word cloud with 300+ words. All of these words have a lenght 20-.
When I use this component. There is a word overlapping. If I use a max words of 60 it works fine. In attached captures you can see it.

This id whit 60 words:
![image](https://user-images.githubusercontent.com/12177239/71736257-9ca24c00-2e1e-11ea-8e3a-e1cc67574536.png)

This is without a maxWords:
![image](https

[2020-01-06 19:17] sweetraare opened #30 "Performance error"
When I try to make a page with 3 word clouds, it freezes, it's caused by the animation when reasizing the word cloud, I've been looking for a way to make it work but nothing does.

[2020-01-10 12:25] WhoAteDaCake commented on #30
This could be the issue with underlying d3-cloud library, which contains a while loop that can potentially block the render process. Should only really see this when you have quite a lot of words or try re-sizing

[2020-01-10 17:06] sweetraare commented on #30
I have three word cloud with 50 words each. Is there any way I can prevent it to re render?

[2020-01-12 17:53] chrisrzhou commented on #29
Hi @sweetraare, the word layout is based on the `d3-cloud` library.  It's not perfect, but if you adjust various options/properties, you could get it to work behave correctly.  Try see if you can find a good container `size`, `fontSizes`, `maxWords`, `rotationAngles`.  Let me know or send me a codesandbox link and I can see if I can help tweak it!

[2020-01-12 17:57] chrisrzhou commented on #30
Hi @sweetraare, if you can set up a [Codesandbox](https://codesandbox.io/) that reproduces the behavior, I can help look into it.  Responsive resizing is fairly computationally expensive.  If the three wordclouds are laid out in a row (e.g. using `display: flex`) instead of three rows, it could be even more expensive.  A few solutions to try here:
- Use fixed container sizes instead of responsive

[2020-01-15 13:29] WhoAteDaCake commented on #30
Personally as a temporary workaround I just cloned this repository , embedded the d3-cloud library and replaced the logic to use a recursive function instead of a loop + debounced the renders.
https://github.com/SpotlightData/react-wordcloud

It's not a great solution, but it seems to work ok. @chrisrzhou If you're interested, I could make a pull request that incorporates the d3-cloud algorithm as

[2020-01-16 12:40] mathiashoeld opened #31 "Display issue"
For some sets of words, there are problems while rendering the word cloud. The following warning is displayed in the console:
[code]

and the display of the wordcloud is not correct (see image)
![image](https://user-images.githubusercontent.com/5782753/72525644-eea69100-3864-11ea-9752-9ffd43c8ecce.png)

The following words have been used and are displaying the same behaviour on my local machine as

[2020-01-16 13:35] mathiashoeld commented on #31
Interestingly, when the objects with value > 100 are changed to a value < 100, the issue does not exist anymore

[2020-01-17 09:51] mathiashoeld opened #32 "Wordcloud Generator not working"
In the section [Wordcloud Generator](https://github.com/chrisrzhou/react-wordcloud#wordcloud-generator) there is a link to an application that should generate wordclouds. When clicking on it, the page just displays "Not found"

[2020-01-24 10:34] Daniel-Griffiths commented on #30
I just tried using your fork @WhoAteDaCake and it work's great. The performance is a lot better! :slightly_smiling_face:

[2020-01-29 09:02] danedavid commented on #29
Hi @chrisrzhou, this is a simple, smaller example reproducing the issue:

https://codesandbox.io/s/react-wordcloud-overlapping-fvorn

I noted that changing the font-weight from 600 to 500 solved the issue. But issue again pops up when I use a different font. Any insights into solving this? Should this be an issue raised in `d3-cloud` library?

[2020-02-10 17:31] flippyhead commented on #30
We too are seeing performance problems with moderately sized word clouds (100 values or so). Would love to see the above as a PR. Seems to work well. Thanks!

[2020-02-10 18:01] chrisrzhou commented on #30
Hey guys, I'll have some time this weekend to look into @WhoAteDaCake's work and integrate it.  @WhoAteDaCake feel free to open a PR if you want to get your hands dirty and contribute directly!

[2020-02-10 18:02] chrisrzhou commented on #32
Hi @mathiashoeld, I haven't had time to update that project yet, but thanks for the flag :) Will comment and close the issue once it's fully updated!

[2020-02-10 18:04] chrisrzhou commented on #31
Hi @mathiashoeld, this is a known issue and is unfortunately difficult to fix.  The `d3-cloud` algorithm isn't robust enough to detect autosizing based on the word values and viz container.  It takes in explicit values, so you need to find optimal values of `fontSizes`, `size` etc.  These are slightly documented here: https://react-wordcloud.netlify.com/faq

In the future, a better fix would be to

[2020-02-10 18:07] chrisrzhou commented on #29
There's some note about this in https://react-wordcloud.netlify.com/faq.  I don't think this problem can be solved with `d3-cloud` either because the library is doing the correct job of just laying out the wordcloud given the wordcloud configuration.  I think you need to find optimal configurations (`fontSize`, `size`) in the short term.  The long term goal would be to dynamically size the words b

[2020-02-12 14:47] flippyhead commented on #25
Hello! It looks like the above PR was approved. This would also be a great addition. Can it be merged? I'd be happy to help!

[2020-02-14 09:03] WhoAteDaCake commented on #30
I'll attempt it on Saturday @chrisrzhou .

[2020-02-17 15:00] mathiashoeld commented on #31
hi @chrisrzhou! thanks for the reply and the feedback. i understand that this issue is basically beyond the scope of the package, so i'll just go ahead and close the issue.

if i find a workaround for this, i'll just post it here.

thanks for the good work, for the rest of my cases the wordcloud generator is working perfectly! really appreciate the effort.

[2020-02-17 15:00] #31 closed

[2020-02-21 10:58] WhoAteDaCake commented on #30
I've created pull request, with my initial approach, if you have any feedback it would be appreciated :)

[2020-03-07 07:12] #25 closed

[2020-03-07 07:19] chrisrzhou commented on #30
Thanks @WhoAteDaCake for the fix! And everyone for being patient with the delays, it's been busy the last few weeks.

[2020-03-07 07:19] #30 closed

[2020-03-07 07:19] #29 closed

[2020-03-07 07:20] #27 closed

[2020-03-08 23:07] chrisrzhou commented on #25
Hey guys, I wanted to provide an update that I didn't apply @camlough's fix.  The changes affect current APIs and after some careful thought, I prefer that the component behaves with default React behavior (i.e. changes in props will re-render the component).

I wrote some detailed section in [Common Issues](https://react-wordcloud.netlify.com/common-issues#re-rendering-issues) that talks about ho

[2020-03-08 23:15] chrisrzhou commented on #30
[v1.2.0](https://react-wordcloud.netlify.com/changelog#120-2020-03-07) is out! Updated the docs as well.  Please update your package dependencies accordingly.

[2020-03-10 20:18] CSchnars13 opened #38 "Preserve previous layout of cloud after render"
I want to write some functionality to always have the selected word be a special color in the cloud. To do this, I am making use of the `onWordClick` and `getWordColor` callbacks. The issue is, the cloud must rerender to update the colors but it scrambles the layout. Is it possible to preserve the previous layout (or achieve this in another way)?

[2020-03-11 00:52] chrisrzhou commented on #38
Hi, try using `options.deterministic = true` configuration.  Let me know

[2020-03-13 03:44] DingLiSim opened #39 "Loader issue"
I'm fairly new to webpack and seem to have run into trouble when I've updated the package to 1.2.0. I used` npm install react-wordcloud `and had no troubles before with version 1.1.1. On my webpack config, js and jsx files are using only `babel-loaders`. Am I missing a configuration on the project?

Babel settings
[code]

[code]

[2020-03-13 09:36] DingLiSim commented on #39
I'm not sure if it had something to do with the babel spread syntax? I've checked the babel updated version for the project and it seems like a highly likely cause?
https://babeljs.io/docs/en/v7-migration
https://babeljs.io/docs/en/babel-plugin-proposal-object-rest-spread

[2020-03-17 05:04] xiqi opened #41 "Global CSS cannot be imported from within node_modules."
I got this error after installing this package:
[code]
Not quite sure how to fix it. Can you please help taking a look?

Thank you for the work!

[2020-03-17 08:15] chrisrzhou commented on #39
I believe I might have screwed up something with the build that doesn't account for all scenarios.  Let me reproduce this over the weekend.

It would be tremendously helpful if you can have a Github repo or Codesandbox reproducing this problem that I can clone and test.

Thank you and sorry for the inconvenience.  Please use `v1.1.1` for now to be unblocked.

[2020-03-17 08:15] chrisrzhou commented on #41
I believe I might have screwed up something with the build that doesn't account for all scenarios. Let me reproduce this over the weekend.

It would be tremendously helpful if you can have a Github repo or Codesandbox reproducing this problem that I can clone and test.

Thank you and sorry for the inconvenience. Please use v1.1.1 for now to be unblocked.

[2020-03-19 21:18] #38 closed

[2020-03-19 21:18] CSchnars13 commented on #38
That plus setting the transition time to 0 solved the issue. Thanks!

[2020-03-20 02:11] DingLiSim commented on #39
So sorry for the wait @chrisrzhou !!!! I couldn't give you the repo because it was a private repo for clients. I will try my best to make an example repo when I can to reproduce the issue!

[2020-03-22 12:10] xiqi commented on #41
Hi Chris,

Sorry about the delay in response!

Here is a repo for you to see a reproduction: https://github.com/xiqi/react-wordcloud-debug

It's using Next.js, simple run `yarn install && yarn run dev` and then open `localhost:3000`

I think importing CSS files from tippy.js is causing this issue:
https://github.com/chrisrzhou/react-wordcloud/blob/d55961059ea65351972b36960b7024e3e61e7297/src/index

[2020-03-25 09:25] DingLiSim commented on #39
Hi @chrisrzhou , I've created a sample sandbox with the same config but there seems to be another issue with React.useRef. Perhaps it's because of react-app babel preset settings. My project is using about the same configurations. Do let me know if there's anything I can help out with.

https://codesandbox.io/s/react-mobx-sandbox-z5u5z

[2020-03-25 20:23] dandv opened #42 "Please document the `scale` and `spiral` options"
At https://react-wordcloud.netlify.com/props#options:

[scale](https://github.com/chrisrzhou/react-wordcloud/blob/master/src/types.d.ts#L87) - "Control how words are spaced and laid out." - how exactly?

Same for [`spiral`](https://github.com/chrisrzhou/react-wordcloud/blob/master/src/types.d.ts#L93) - how should one think of `archimedean` vs. `rectangular`?

I'm trying to produce a 90-degree layo

[2020-03-26 03:09] zy87302728 opened #43 "When use 'Mouse Events' it show me 'select' is not defined"
https://react-wordcloud.netlify.com/usage/callbacks

'select' is not defined

[2020-04-06 18:01] eeue56 opened #44 "Homepage crashes Firefox"
The homepage seems to make Firefox crash, giving the "A webpage is slowing your browser down" error message
![Screenshot from 2020-04-06 20-00-20](https://user-images.githubusercontent.com/1139198/78589945-92825600-7830-11ea-9a59-861b9d643252.png)

[2020-04-15 01:15] solirpa commented on #43
Its depends on the d3-selection

[2020-04-18 08:55] ghost commented on #41
I have a similar problem on the same platform (```next@9.3.5```).
If I try to import a component which includes ```react-workcloud```, I receive this exception:
[code]

[2020-04-21 06:41] chrisrzhou commented on #41
Hey guys, this issue seems specific to `next`.  Although, ideally I should decouple the CSS from the JS package and have users explicitly import the CSS file.  However, since the version has been shipped with included CSS in the past, I want to avoid introducing breaking changes just because of this.

I've never used `next` but after 30min of digging, I found out how to fix this thanks to your rep

[2020-04-21 06:41] #41 closed

[2020-04-21 07:02] chrisrzhou commented on #43
Can you reproduce what you're seeing in a codesandbox?  Here is the official Callbacks example in a codesandbox that you can test and try out: https://codesandbox.io/s/4lecp

There's a bug if (but that's specific to the example) if you hover over the words too fast before they are loaded, so for this example, wait for the loads to load up before hovering.

Leaving the issue open for 1-2 more weeks

[2020-04-21 07:06] chrisrzhou commented on #39
Hey @DingLiSim, not sure what the issue is you are facing.  In the Codesandbox link you provided, seems like the wordcloud is rendering fine!  Let me know if there's some issue you are facing and have a Codesandbox that reproduces the error.  Thanks.  Closing the ticket for now!

[2020-04-21 07:06] #39 closed

[2020-04-21 07:16] chrisrzhou commented on #42
Thanks for the feedback!

To be honest with you, I'm not sure how to describe `archimedean` and `rectangular` (source reference: https://www.jasondavies.com/wordcloud/).  I think it's a mathematical pattern of laying out the spiral and is somewhat visually noticeable.  When first working on this project, I was implementing features based on Jason Davies' wordcloud generator and kept this feature.

[2020-04-21 07:24] chrisrzhou commented on #42
![image](https://user-images.githubusercontent.com/4425362/79837503-64d7f980-8366-11ea-9d7b-ee15cc549ad5.png)

Closing issues as docs will be updated based on feedback in this issue.  Thanks!

[2020-04-21 07:24] #42 closed

[2020-04-21 07:26] chrisrzhou commented on #44
I think there are some performance issues that can result in responsive layout (especially on the height) for specific cloud layouts.  I updated the home page to use a fixed height layout and reduced the interval.  I don't think these are the real underlying reasons for the issue though, but hope it helps.  Thanks for reporting and let me know if the issue still persists or if you are able to isol

[2020-04-21 07:26] #43 closed

[2020-05-02 23:46] chrisrzhou commented on #32
Hey @mathiashoeld, I spent a week building a fun/lightweight version of this.  Feel free to check it out here: https://wordcloud-generator.netlify.app/#

[2020-05-02 23:46] #32 closed

[2020-05-04 04:17] ananta0799 opened #45 "wordcloud is not showing all words"
hey Chris,

my wordcloud is missing many words. I have also applied the solution you suggested but no luck
![Screenshot from 2020-04-29 16-46-04](https://user-images.githubusercontent.com/64765010/80935795-e78f9880-8deb-11ea-9399-e038044922e1.png)

here is the css used for this

.wordCloudBox {
    margin-top: 8px;
    min-height: 45vh;
    width: 100%;
    flex: 1;
}

.sectionDivider {
    paddin

[2020-05-04 14:40] suino commented on #41
Hi, I have a similar problem on the same platform (I tried next@9.3.5 and next@9.3.7).
This fix (https://github.com/chrisrzhou/react-wordcloud/issues/41#issuecomment-616985372) is good for `yarn run dev`.
But I got same problem again when I run `yarn run build` for deployment.
Do you have any solution?

Thank you for nice library!

[code]

[2020-05-04 16:55] chrisrzhou commented on #41
Hi @suino, I'm not familiar with `next`, so can anyone on this issue confirm if there is a similar fix for `next` builds or they are stuck here as well?  If there are no alternatives, I might split up the CSS file in the next minor release.

[2020-05-04 16:55] chrisrzhou commented on #41
Hi @suino, I'm not familiar with `next`, so can anyone on this issue confirm if there is a similar fix for `next` builds or they are stuck here as well?  If there are no alternatives, I might split up the CSS file in the next minor release.

cc @lucacattide

[2020-05-04 16:59] chrisrzhou commented on #45
Can you reproduce this setup (or something similar) in a Codesandbox with `deterministic: true` so I can take a look? Thanks.

[2020-05-04 17:23] ananta0799 commented on #45
hey Chris,
this is my wordcloud.js file...i really hope it'll be helpful

import React, { useEffect } from "react";
import { connect } from 'react-redux';

// @material-ui/core components
import GridItem from "components/Grid/GridItem.js";
import GridContainer from "components/Grid/GridContainer.js";
import Card from "components/Card/Card.js";
import CardHeader from "components/Card/CardHeader.js"

[2020-05-05 09:15] suino commented on #41
Thank you. I want to know others' results too.
Though I tried various `next.config.js` settings and a few versions from`next@9.1.0` to `next@9.3.7`, none of them worked well.
I think it's not so easy but I'm very happy if you split up the CSS file.

[2020-05-13 19:44] #45 closed

[2020-06-17 20:41] kborchers opened #47 "Windows Narrator screen reader announces the word cloud SVG element as a decorative image"
It would be great, either through some option or other method, to be able to customize the attributes on the SVG element and the text elements inside of the SVG that is created to better accommodate screen readers and other assistive technology through ARIA roles and other attributes.

[2020-06-24 08:38] chrisrzhou commented on #47
Hey @kborchers, I think this could be customizable and set.  I'm not familiar with ARIA requirements, so can you point me to the minimal amount of customizations required to specify the SVG attributes?  Is this good on just the main SVG node?

[2020-06-26 06:48] yyt1208732230 opened #48 "Font-size better be set as style rather attr"
Hi, author. The words' font-size of word cloud not work on page today, eventually I found that the font-size was set as a attribute in each 'text', while there are some global style I've set that covered the font-size attribute. Font-size of each word better be set as style rather attr, because of the low priority. So I change in local.Say .style('font-size') rather .attr('font-size').

[2020-07-01 21:29] kborchers commented on #47
@chrisrzhou so sorry for my delayed response! I saw your comment and then totally forgot to circle back to this and respond.

This is sort of tough to answer as depending on the use case, the requirements could be different. For example, in our specific use case, we would like to present the word cloud to a screen reader as a list. In that case, we would need to be able to add attributes to both t

[2020-07-09 04:55] huangfu1993 opened #51 "Error: [react-wordcloud@1.2.3 › tippy.js@6.2.5 › @popperjs/core@^2.4.4] Can't find package @popperjs/core@^2.4.4"
![image](https://user-images.githubusercontent.com/20582223/86998664-6eddfb80-c1e3-11ea-9b55-9d87d6f8e058.png)

[2020-07-09 04:58] #51 closed

[2020-07-09 04:59] huangfu1993 opened #52 "npm error"
npm ERR! code ETARGET                                                                                npm ERR! notarget No matching version found for @popperjs/core@^2.4.4                                npm ERR! notarget In most cases you or one of your dependencies are requesting                       npm ERR! notarget a package version that doesn't exist.

[2020-07-09 05:06] #52 closed

[2020-07-21 06:45] chrisrzhou commented on #48
Hi @yyt1208732230, I think this is a reasonable suggestion, although this would make the library backwards incompatible.  Given that this is an edge case in your situation where you are customizing the `attribute` instead of the `style`, I am leaning on keeping the existing behavior in favor of how other people are using the library.

Is it possible that you can update your global style to ignore

[2020-07-21 06:47] chrisrzhou commented on #47
This shouldn't be hard, and it sounds like we would just like to add properties to `svg` and `text` nodes.  I can take a look at this soon.

[2020-07-21 08:41] chrisrzhou commented on #47
@kborchers, the latest changes in `main` has this implemented in `options.textAttributes` and `options.svgAttributes`.  The docs (`options.mdx`) cover an example on this.

![Screen Shot 2020-07-21 at 00 59 45](https://user-images.githubusercontent.com/4425362/88032780-4f07db00-caf3-11ea-806c-b613ec00a274.png)

I'll release a package after #54 and #55 are merged as well.

[2020-07-21 09:34] chrisrzhou commented on #47
Now available in `v1.2.5`: https://codesandbox.io/s/angry-payne-guqg8?file=/src/App.tsx

Closing the issue and thanks for the suggestion!

[2020-07-21 09:34] #47 closed

[2020-07-21 22:23] kborchers commented on #47
Awesome, thanks @chrisrzhou! We'll update to 1.2.5 ASAP!

[2020-07-22 00:38] davidjb opened #56 "Documentation site is out of date"
I was just looking at the documentation site at https://react-wordcloud.netlify.app and noticed that it's showing the docs for 1.2.3.  I'm not sure if this is related to the rename of the `main` branch, but thought it might be the cause if Netlify happens to be still pointing at `master` or needs a nudge otherwise.

[2020-07-22 13:24] SrividyaKK opened #58 "v1.2.5 doesn't export typescript typings"
I was running v1.2.3 of react-wordcloud. I updated to v1.2.5 and found that my builds failed, because it couldn't find the typescript typings.

Upon inspection, I found that in v1.2.3, there was an `src` folder that had the typescript definitions `.d.ts` files, which are absent in v1.2.5.

[2020-07-22 17:40] LeandroDG commented on #58
I was coming here to report the same issue. Thanks for the efforts, great work with the library :-)

[2020-07-26 16:02] chrisrzhou commented on #58
I used `microbundle` for `v1.2.5` and `typings` *should* work but thanks for the bug report.  Will update, fix, and confirm this soon!

[2020-07-26 17:49] chrisrzhou commented on #58
Tested and fixed in `v1.2.6`.  I was pointing to the wrong type files in `src`.  Apologies for the inconvenience since I'm getting familiarized with shipping packages!

[2020-07-26 17:49] #58 closed

[2020-07-26 17:49] #48 closed

[2020-07-26 17:50] chrisrzhou commented on #56
Thanks for reporting, and fixed!  You are right that the branch was not pointing to `main`, but there was another issue where Netlify was using `v13.*` for `node`, and `docz`/`gatsby` builds have some issues with `v13.*`.  Added a `.node-version` file that points to `v14.*` and that helped fix the documentation issue.

[2020-07-26 17:50] #56 closed

[2020-07-26 17:57] SrividyaKK commented on #58
Thank you! Great work with the library 👍  :-)

[2020-08-12 01:49] davidjb commented on #22
I had the same issue (`TypeError: t.transition is not a function` with a backtrace steeped in Webpack, `./node_modules/d3-selection/src/selection/call.js/__webpack_exports__.default` etc).  It started occurring after upgrading `react-wordcloud` from 1.2.4 to 1.2.5 (with the issue persisting when upgrading to 1.2.6 and then 1.2.7). My issue was definitely Webpack and dependency-related so I ended u

[2020-08-12 02:43] davidjb commented on #44
The issue is that D3/wordcloud triggers a data access request for HTML5 canvas image data, seen when  `privacy.resistFingerprinting` in Firefox is enabled (may come up in other circumstances by default now too).  The wordcloud code needs to read data in order to position words on the canvas. In your screenshot @eeue56, there's an icon on the address bar for this, the picture icon:
![Screen Shot](h

[2020-08-12 05:55] chrisrzhou commented on #22
Hey @davidjb thanks for some of the details here.  I'm not very knowledgeable with package build pipelines.  Based on your understanding, do you think the `resolutions` field in https://github.com/chrisrzhou/react-wordcloud/blob/main/package.json#L69-L71 no longer applies and we can remove it?

I haven't seen issues on my end (with either `npm` or `yarn`).  Then again, I usually blow away `node_mo

[2020-08-12 06:07] chrisrzhou commented on #44
@davidjb, just confirmed the issue by setting `privacy.resistFingerprinting` to `true` in Firefox.  This affects all wordcloud instances, not just the homepage as you mentioned.  Should the check be handled within the library or should we ask users to handle this on their end?  If the latter is a better design choice for the library, then I can probably just update the documentation site to handle

[2020-08-12 06:30] chrisrzhou commented on #44
Did a bit of digging and the issue is accessing canvas data in general and isn't isolated in just `optimized-d3-cloud`.  The source code of `d3-cloud` will also affect this.

My rough plan is to:
- Keep the source code the way it is since this problem is more generic to data access with canvas itself.
- Handle the homepage and doc examples more gracefully (after some retries, I'll render a info me

[2020-08-12 07:04] chrisrzhou commented on #44
Found a solution to do this that is compatible on most browsers: https://github.com/chrisrzhou/react-wordcloud/blob/main/docs/react-wordcloud.tsx#L12-L15

Since the docs use a wrapped version of the source code, this was a good entry point to update it and warn the users.  The slight drawback is it won't trigger the image icon in the URL bar as a shortcut to change the browser configuration, but w

[2020-08-12 07:17] davidjb commented on #22
I'm no expert but I've seen Webpack blow up like this when you've got two different versions or instances of the same package in the build.  ~I can't find the reference to it but~ I've experienced this in React itself when developing packages -- each package is looking at a different instance and :boom: ; general details at https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-reac

[2020-08-12 07:33] #44 closed

[2020-08-12 07:40] davidjb commented on #44
@chrisrzhou Nice workaround with the performance API.  I was wondering that if you were to trigger the canvas access warning from this code with a very basic trigger, then you'd get the best of both worlds -- the visual `<p>` tag is a helpful indicator to the user and then the image icon will prompt and facilitate the user allowing access whilst avoiding a browser crash.

[2020-08-12 08:22] chrisrzhou commented on #44
I'm running into an issue with `docz` where it's not rendering any of the code or `Playground` preview.

![image](https://user-images.githubusercontent.com/4425362/89992466-28dce300-dc3a-11ea-9ac4-c25d6a734ee0.png)

[code]

Not sure what's changed and clean installs and builds don't seem to help.  Debugging a little further.  `docz` has been recently frustrating with a couple of these 'magical' bu

[2020-08-17 06:33] vedant-g opened #63 "Delay in loading react-wordcloud with fontSizes in options prop"
I am using react-wordcloud in my dashboard. When I load the cloud without specifying the `fontSizes` attribute in `options` prop, it used the default font-sizes, because of which the texts appear very small sometimes. To solve it. I provide the `fontSizes` eg. [20, 60], which solves my problem. However there's a delay in loading the wordcloud, sometimes around 5 seconds (which doesn't occur with t

[2020-08-18 16:02] garridio85 commented on #63
Also getting this.

[2020-08-19 05:06] chrisrzhou commented on #63
Hey everyone, this happens because the cloud algorithm is (re)-attempting to layout words within the canvas size provided.  A combination of large word count, font size, or small canvas size can lead to this behavior.  Unfortunately I don't know how to configure the underlying cloud algorithm to handle this elegantly, so you might have to play around with a configuration that works best for you.

[2020-08-20 17:00] garridio85 commented on #63
Awesome! Thanks man!

I updated the options to:

rotations: 1,
 rotationAngles: [0, 0],
 fontSizes: [10,60]

and now it works perfectly.

Does this library have an error callback so I can track when the rendering error is thrown?

[2020-08-20 22:00] chrisrzhou commented on #63
Unfortunately no, but glad you got this working! It would be ideal if the cloud would always 'just work', but that would only be possible if I owned/understand the cloud layout algorithm :P

[2020-08-20 22:00] #63 closed

[2020-08-25 20:06] Bryan1337 opened #64 "Words swapping places for some renders"
I'm having trouble trying to keep the words in the same place before a re-render. 50% of the time words update perfectly fine after an update but in some cases two or more words seem to 'randomly' swap positions. Is this a common issue or is there a workaround for this?

Here's a [demo](https://codesandbox.io/s/naughty-sutherland-ifpb3) in codesandbox.

Thanks for taking the time to read!

[2020-09-11 18:36] chrisrzhou commented on #64
@Bryan1337, not 100% sure and won't be able to have that fine-grain control on this behavior.  My suspicion is the logic that is trying to re-layout the cloud is causing the issue: https://react-wordcloud.netlify.app/faq#dropped-words

When the wordcloud is not able to layout some words, it tries a few times until it succeeds/fails.  I believe each time it's trying to layout the word, the position

[2020-09-15 06:27] yifeikong opened #65 "Error working with next.js"
[code]

Stack trace:

[code]

Minimal reproducible repo: https://github.com/yifeikong/wc-next-bug

[2020-09-15 07:16] perkfly commented on #65
It seems that the cause is Next.js is doing Server Side Rendering and React-WordCloud can only be rendered on the client side, a quick fix would be:

[code]

If it's a viable solution, maybe you can make React-WordCloud server-side-renderable, and that would be great.

[more one client-only rendering in next.js](https://haodong.io/render-client-side-only-component-in-next-js)

[2020-09-21 05:17] dpashutskii commented on #65
@yifeikong Thanks for the workaround. I've faced the same problem when I was testing my components with `jest` and `react-testing-library`.

[2020-09-25 05:12] chrisrzhou commented on #65
@yifeikong, I'm not familiar with how to make this library compatible for server-side rendering.  Its underlying dependencies need access to DOM methods.  If you have a rough idea and submit a PR, happy to look over it once I get more context.

Thanks!

[2020-09-25 05:31] chrisrzhou commented on #65
Not sure if this is related: https://github.com/vercel/next.js/issues/9890#issuecomment-605543395

I'm not familiar with bundling this package, but I believe `microbundle` might have a problem bundling a default and named export together and that might be causing this issue.  If you have a workaround for now, please use it.  I apologize for the inconvenience, but if you find something that could h

[2020-09-25 08:01] eternalsky opened #66 "ResizeObserver loop limit exceeded"
Sometimes, Error "ResizeObserver loop limit exceeded" is thrown. maybe we can use requestAnimationFrame to avoid this.

https://stackoverflow.com/questions/49384120/resizeobserver-loop-limit-exceeded

[2020-10-05 18:09] volodymyr-nexxt opened #67 "Interactive Tooltip doesn't work"
I'm trying to enable interactivity feature of Tippy JS, so I can hover over tooltip, however it doesn't work:
![Oct-05-2020 14-01-51](https://user-images.githubusercontent.com/66445032/95115900-32ec0100-0714-11eb-965b-418e92331004.gif)

Here is a code I have:
[code]

Am I doing something wrong or is it a Tippy JS's bug?

[2020-10-08 15:12] DanielM235 commented on #67
@volodymyr-nexxt
sounds like the import for the animation css file from tippy.js might be missing:

`import "tippy.js/animations/scale.css";`

[2020-10-09 20:56] volodymyr-nexxt commented on #67
@DanielM235 it is included

[2020-10-14 10:46] vinyldarkscratch opened #69 "textAttributes.fill is overwritten when wordcloud re-renders"
When the wordcloud re-renders, due to screen change or otherwise, it appears that the `fill` attribute for the `textAttributes` is overwritten by the colors specified by the `colors` attribute (or the random colors it defaults to).  This is causing a huge issue in the functionality of a new feature on my client's website.

This issue can be seen on the demo page (simply resize the browser to see):

[2020-10-15 18:33] chrisrzhou commented on #67
@volodymyr-nexxt, I think you are seeing this because the word callbacks in `react-wordcloud` controls the showing/hiding of the tooltips https://github.com/chrisrzhou/react-wordcloud/blob/main/src/layout.js#L64-L76

It is probably applying the `tooltipOptions` as intended, but that code is opinionated and shows/hides the tooltip.

To resolve this, I think you might need:
- to disable tooltip feat

[2020-10-15 18:34] chrisrzhou commented on #69
Definitely a bug and can look into it!

[2020-10-15 18:35] chrisrzhou commented on #65
Closing the issue, but if anyone has more suggestions to make this work with Next/Vercel, let me know through a PR!

[2020-10-15 18:35] #65 closed

[2020-10-15 20:42] volodymyr-nexxt commented on #67
@chrisrzhou I think I fixed it, I'm sending a PR shortly.

[2020-10-16 17:58] chrisrzhou commented on #67
Accepted MR and I believe this issue is resolved.  Thank you for fixing and improving the library!

[2020-10-16 17:58] #67 closed

[2020-10-29 16:14] misselliev opened #72 "Examples in docs are blank"
For a few days now, all code blocks examples on the website just show a blank space.
![Captura de pantalla de 2020-10-29 09-13-48](https://user-images.githubusercontent.com/32690589/97601185-28492280-19c7-11eb-8c15-07a311cdf9f4.png)

[2020-11-27 10:35] ghost commented on #72
I think that's could be related to ```lodash.debounce``` dependency. I receive an ```Uncaught TypeError: t.transition is not a function ``` on the latest release, forcing me to fall back to ```v.1.1.1```

[2020-12-15 23:25] adrienpwd opened #73 "options for individual word"
Hi,

Thank you for this great Cloud visualisation, it's really cool and easy to use.
The only thing that I would like to add is the ability to have custom style for each word, for example pass a font-style to a particular word. I think we can achieve this using a new callback.

I'm happy to add this feature if you can point me in the right direction.

Thank you

[2020-12-30 17:25] AlexGibson12 opened #74 "Word cloud splits words on accent"
![image](https://user-images.githubusercontent.com/67548304/103370030-aad38880-4ac3-11eb-91e2-3c9ecac2bd78.png)

If I include for instance the word fettsäuren, the word cloud will generate the two words "fetts" and "uren". I saw someone elsewhere talking about a seperate word cloud library suggesting it could have something to do with the regex used to split words?

[2021-01-14 03:58] chrisrzhou commented on #72
Hey guys, I think the [issue](https://github.com/doczjs/docz/issues/1552#issuecomment-672755034) is caused by `docz`

You can run the docs locally if you have cloned the repo with `npm run docs` as a workaround if you want to browse interactive docs.

Sorry for the inconvenience and I intend to move out of `docz` in the future, after I am able to find time, and a meaningful documentation framework

[2021-01-22 07:07] archeelp opened #75 "Support for react verions above 16.13.0"

[2021-01-25 16:58] helt opened #76 "should this be a React.SyntheticEvent<MouseEvent> ?"
https://github.com/chrisrzhou/react-wordcloud/blob/9ccdbbfb4fc60a70a895a4ffa59050a864eeccd8/types/index.d.ts#L21

I am wondering if the events should be typed as `React.SyntheticEvent<MouseEvent>`  instead of their native dom counterparts ?!

[2021-01-25 17:19] helt commented on #75
react 16.14.0 works for me (tm)

[2021-01-26 23:37] brandoncc opened #77 "License?"
Hello,

Thanks for this awesome library!

I am interested in using this in a commercial application, but there is no license. Would it be possible for one to be added?

Thank you!

[2021-01-28 23:23] adrien-poirson commented on #77
There is one already: https://github.com/chrisrzhou/react-wordcloud/blob/main/license

[2021-01-30 17:57] brandoncc commented on #77
I don't know how I missed that, thanks @adrienpwd !

[2021-01-30 17:57] #77 closed

[2021-02-01 08:33] myfirsTime opened #78 "render speed depends on size container"
Can you help or explain why the render speed depends on size container, with container size 200px 200px render takes 4x time more than 400px 600px:

 <div style={{ display: "flex" }}>
      <div style={{ height: 200, width: 200 }}>
        <ReactWordcloud words={words} />
        <ReactWordcloud words={words} />
        <ReactWordcloud words={words} />
        <ReactWordcloud words={words} />

[2021-02-01 15:40] helios1138 commented on #74
@AlexGibson12 this library doesn't handle tokenization, it's just rendering what you give it. To support Unicode characters in words, I use `/[\p{L}']+/gu` in my word splitting code.

[2021-02-22 17:01] philson-philip opened #79 "Image tag rendering as plain text in https://react-wordcloud.netlify.app/readme"
Image tag is rendering as plain text in url https://react-wordcloud.netlify.app/readme. Screenshot attached below. I have fixed code for one url and is pointed out as img under `Responsive` heading in below screenshot.

<img width="1440" alt="Screenshot 2021-02-22 at 10 31 04 PM" src="https://user-images.githubusercontent.com/22117214/108742377-a8d6f480-755d-11eb-8e1b-faa03b4d392a.png">

[2021-03-08 05:24] #79 closed

[2021-03-09 08:03] HT-Moh commented on #65
Hi

I have the same issue and I appylied the solution from @yifeikong  it worked however the console shows the following warning :
[code]

Any idea how to fix it?

[2021-03-12 20:01] bfeister commented on #41
@chrisrzhou thanks for this, spent half a day on it and was **super puzzled**, this fixed it for me

[2021-03-12 20:51] bfeister commented on #41
Actually, I take that back, it's broken for me @chrisrzhou... Works when I run `NODE_ENV=development next dev -p 8025` but breaks when I run `next build`, same as what @suino reported above ☝️

[2021-04-02 13:04] programerr01 opened #82 "How to create oval shape from words"

[2021-04-14 07:11] aitorres commented on #75
Bump for react 17

[2021-04-16 03:50] gomlvb opened #83 "Grafana elasticsearch Cannot read property 'fields' of undefined"
Cannot read property 'fields' of undefined

![image](https://user-images.githubusercontent.com/32384913/114968925-e72bc880-9ea9-11eb-93ba-a8f8ed075601.png)
![image](https://user-images.githubusercontent.com/32384913/114968942-ef840380-9ea9-11eb-9734-61c19626dbf8.png)
![image](https://user-images.githubusercontent.com/32384913/114968953-f4e14e00-9ea9-11eb-825b-de046fd9e701.png)
![image](https://use

[2021-06-06 16:17] el-sacapuntas opened #84 "Options not working in typescript"
[code]

error:
[code]

[2021-06-07 08:29] satya0306 commented on #84
you need to define options type.
you can write
const options:any = {
        ......
      };

[2021-07-13 21:56] carlosalvidrez opened #85 "Request to update d3-array dependency from 2.12.1 to 3.0.1"
I get a build error since upgrading typescript.
I believe your dependency on an old version of d3-array is the culprit.
If you could cast a new version of react-wordcloud, upgrading the dependency on at least this 1 library, it'd be great.
Happy to help test.

Thanks!!
https://www.npmjs.com/package/d3-array

[2021-07-13 21:57] carlosalvidrez commented on #85
I believe d3-scale would also need to be upgraded... perhaps it is safe to update all d3 dependencies to their latest versions.
Thanks again.

[2021-09-14 09:20] h0jeZvgoxFepBQ2C opened #86 "All usage doc examples are not working"
F.e.: https://react-wordcloud.netlify.app/usage/callbacks

[2021-09-14 16:13] h0jeZvgoxFepBQ2C commented on #86
Duplicate of #72

[2021-09-14 16:13] #86 closed

[2021-09-30 09:13] lgervich opened #88 "Options are working only with first mounting"
I noticed that options prop is applied correctly only when <ReactWordcloud /> component is mounted . When we store options in state of parent component and modify them then <ReactWordcloud /> still applies options used when component was mounted. Is it desired behaviour?

[2021-10-07 17:52] kfritsch commented on #78
Since the placement algorithm works randomly it takes more tries to fit words of the same size into a smaller container since there will be more word overlaps

[2022-01-04 12:25] pedromdantunes opened #89 "Words overlap"
Hello guys !
I'm facing an issue on react-wordcloud about word overlaping...
Can someone tell me why this is happening ?

**VERSIONS**
react: "^17.0.1"
react-dom: "^17.0.1"
react-scripts: "^4.0.3",

**CODE SAMPLE**
`
const options = useMemo(() => {
        return {
            enableTooltip: true,
            fontSizes: [12, 100],
            padding: 1,
            rotations: 0,
            rotat

[2022-01-26 20:32] efefarias opened #90 "Wordcloud with top 100 words limitation"
Hello guys! Im facing an issue that limits only to 100 words to appear in the wordcloud.

To face the issue you need to pass over 100 objects inside of json array.

[2022-01-26 23:03] David-Cohen35 opened #91 "react-testing-library cannot test wordcloud"
Wordcloud cannot be tested with react-testing-library - it errors when rendering the component with - ` Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.`

`import { render, screen } from "@testing-library/react";
import ReactWordcloud from "react-wordcloud";

describe("<WordCloud />", () => {
  it("should render th

[2022-01-31 20:42] #91 closed

[2022-01-31 20:42] David-Cohen35 commented on #91
fixed by importing as `const ReactWordcloud = require("react-wordcloud").default`

[2022-03-04 16:11] SatorCube commented on #85
I would also like this as well. I am seeing a number of errors when using this in a project with other d3 dependent libraries.

[2022-03-29 19:06] danlope opened #92 "Accessibility Issue - when using tab to navigate word cloud focus order is NOT in logical order"
Not all words are keyboard accessible and focus order is random while navigating word cloud. To meet accessibility requirements, focus order must be in logical order.

[2022-04-17 14:00] colinpriest opened #93 "triggering page rerun on hover"
The streamlit wordcloud triggers a rerun of the entire streamlit page every time there is a hover event. This slows response times so much that I can't get a workable user experience. Please give us the option to stop this. I don't need the widget to send data to my app each time the user hovers over a word. I just need the hover text to appear.
The experience is even worse when the wordcloud is p

[2022-05-03 05:05] ahmohamed commented on #85
It seems the repo is no longer maintained. I've created a fork that works with latest D3 libs. Let me know if it you have any issues with it.
[ahmohamed/react-wordcloud](https://github.com/ahmohamed/react-wordcloud)

[2022-05-27 09:48] swapnilUI opened #94 "Version 1.2.7 not working with webpack 5"
Could you help to resolve below error?
I am using latest version 1.2.7 with Webpack 5
![image](https://user-images.githubusercontent.com/2226624/170675597-b52cc3d1-5058-48ee-ab81-3a1911084df0.png)

[2022-08-11 16:10] dotnetclassic opened #96 "install error"
When i try to run
 npm install react-worldcloud

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS D:\workspace\react-typescript\simple-app> npm install react-worldcloud
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code ERESOLVE
npm ERR! ERESOLVE co

[2022-08-16 16:02] pthalamy commented on #96
@dotnetclassic this package hasn't been updated to use `react@^18.0.0` as a peer dependency. However, it still works fine without issue with React 17 and later, so you can just force the install with:

`npm install react-worldcloud --legacy-peer-deps` or `npm install react-worldcloud --force`

[2022-08-16 16:07] aznutech-dev commented on #96
yeah fixed thx

[2022-08-17 23:36] Hum4n01d commented on #72
Still an issue

[2022-09-01 19:41] tokich6 opened #97 "text attribute fill-opacity randomly added and set to 0"
Hello,

I'm experiencing an issue where a ` fill-opacity=0` text attribute gets added randomly on component re-render (not always).  In some cases it affects all words in the cloud, others just some of the words. Can you please point me in the direction of what could possibly be causing this?

[code]

[2022-10-11 05:15] lieudusty123 opened #99 "Canvas2D: Multiple readback operations using getImageData are faster with the willReadFrequently attribute set to true"
I am using react-wordcloud and whenever the size of the container changes it sorts the word cloud to fit the current (70%) screen size.

My console gets spammed by the warning:
![Screenshot_2](https://user-images.githubusercontent.com/90283262/195002609-3b5fa5de-3829-4e0d-af5e-2cafa5cb762a.png)

The link the warning gives:
https://html.spec.whatwg.org/multipage/canvas.html#concept-canvas-will-read

[2022-10-18 07:20] geminiyellow commented on #10
still working?

[2022-10-25 08:16] rhalaly opened #100 "NPM Audit Issues"
There are `npm audit` issues in this package related to `d3-color`:

[code]